{% extends 'base.html.twig' %}
{% block title %}Contagem Regressiva{% endblock %}
{% block body %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <body>
    <div class="container" align="center"  >
        <div>
            <h1>Tudo sobre minha data</h1>
        </div>

        <div class="col-5" class="text-white-50 bg-dark">
            <h2></h2>
            <table class="table table-hover" class="table table-striped">
                <thead class="thead-striped">
                <tr>
                    <th>Data Atual</th>
                    <td>{{ dataAtual }}</td>
                </tr>
                <tr class="table-dark">
                    <th>Data Destino</th>
                    <td>{{ data }}</td>
                </tr>
                </thead>
            </table>
        </div>

        <div class="col-5">
            <h2></h2>
            <table class="table table-hover table table-dark" >
                <thead class="thead-striped">
                <tr>
                    <th>Dia </th>
                    <td>{{ dia }}</td>
                </tr>
                <tr>
                    <th>Mês </th>
                    <td>{{ mes }}</td>
                </tr>
                <tr>
                    <th>Ano </th>
                    <td>{{ ano }}</td>
                </tr>
                <tr>
                    <th>Dia da Semana </th>
                    <td>{{ semana }}</td>
                </tr>
                <tr>
                    <th>Data por extenso </th>
                    <td>{{ dataExtenso }}</td>
                </tr>
                <tr>
                    <th>Semana de Número: </th>
                    <td>{{ numSemana }} </td>
                </tr>
                <tr>
                    <th>Faltam </th>
                    <td>{{ dataDifDia }} Dias</td>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
    </body>

{% endblock %}